{% extends 'Base.html' %}
{% block content %}

<div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://www.orchardtaunton.co.uk/app/uploads/2020/03/OSC-Spring-Generic-2020-Website-Shopping-Banner-01.jpg" width="1100" height="300">
    </a>

  <div class="container">
  <form class="row g-3">
  <div class="col-auto">
    <label for="shipping address" class="visually-hidden">Shipping address</label>
    <input type="text" readonly class="form-control-plaintext" id="shipping address">
  </div>
  <div class="col-auto">
    <label for="input address" class="visually-hidden">Password</label>
    <input type="text" class="form-control" id="input address" placeholder="Shipping address">
  </div>
  <div class="col-auto">
    <button type="Search" class="btn btn-primary mb-3">Search</button>
  </div>
</form>
</div>

  {% endblock %}
