{% extends 'Base.html' %}
{% block content %}
  <div class="container">
        <h1 align="center">Log-in page</h1>
  </div>
<br></br>
<div class="card text-center" style="width: 30rem; margin:0 auto;" >
  <h5 class="card-title">Let's sign in!</h5>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <a href="/" class="btn btn-dark">Sign in</a>
  </form>
    <br></br>

    <div>
      <form action="/login_customer" method="get">
          <p class="card-text">New user?</p>
          <button type="submit" class="btn btn-dark">Sign up</button>
      </form>
    </div>
</div>


  {% endblock %}